.header-img {
    background-image: url("../img/header.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
      /* Set a specific height */
    height: 500px;
}


